/* SEO Plugin */
.yoast-notice-go-premium, .wpseo-metabox-buy-premium {
    display: none !important;
}

/* ACF */
.acf-rel-item a.edit-gabarit {
    text-decoration: none !important;
    color: #999;
    float: right;
    margin-right: 30px;
}
.acf-rel-item:hover a.edit-gabarit {
    color: #ccc;
}
.acf-rel-item span.projet, .acf-rel-item span.artiste {
    color: #777;
    text-transform: uppercase;
}
.acf-rel-item:hover span.projet, .acf-rel-item:hover span.artiste {
    color: #ccc;
}
.select-gabarits .acf-relationship .selection .list {
    height: 500px;
}
.select-gabarits .filter.-search {
    /*display: none !important;*/
}
.select-artistes .select2-selection--multiple li {
    display: block !important;
    width: 98% !important;
}
.decalage_horaire input[type=number] {
    width: 4em !important;
}
.acf-field.acf-field-group.type_gabarit {
    clear: left !important;
}

/* Taxonomy edit */
form#edittag {
    max-width: none !important;
}
#edittag .term-description-wrap {
    display: none !important;
}

/* Select projets */
#select2-acf-field_5a142daf0b3e4-results .select2-results__option {
    position: relative;
}
.select2-selection__rendered .remove-projet {
    display: none !important;
}
#select2-acf-field_5a142daf0b3e4-results .remove-projet {
    display: none;
    position: absolute;
    top: 4px;
    right: 7px;
}
#select2-acf-field_5a142daf0b3e4-results .select2-results__option--highlighted .remove-projet {
    display: block;
}