// Basic styles


a.button {
    display: inline-block;
    color: #000;
    text-decoration: none;
    position: relative;

    &:after {
      position: relative;
      content: '';
      display: block;
      width: 0;
      height: 1px;
      background: #fff;
      transition: width .3s;
      transform: translateX(-50%);
      left: 50%;
    }

    &.black:after {
      background: #000;
      vertical-align: top;
      // display: inline-block;
    }

    &:hover:after {
      width: 100%;
      //transition: width .3s;
    }

}
