.swiper-button {
  &-next, &-prev {
    // background-color: #ffffff;
    background-image: none !important;
    top: auto;
    left: auto;
    position: relative;
    display: inline-block;
    height: auto;
    

    .template-homepage & {
      right: -4px;
      width: auto;
    }

    @include grid-media-query(palm) { 
      margin-top: 0;
    }
  }  
}
.swiper-container {  
  font-size: 0;
  transition: margin .5s;
}

.swiper-slide {

  .template-homepage & {
    max-height: 85vh;
    max-height: calc(100vh - 150px);
    // width: 100% !important;
    cursor: pointer;
  }
}