/****
This is replacing styles made by https://cookieconsent.insites.com/
****/
.cc-window {
    .cc-message {
        text-transform: uppercase;
        font-size: 10px;
        font-family: $fontMarkMedium;
    }

    .cc-compliance {
        background-color: #ffffff;

        .cc-dismiss {
            text-transform: uppercase;
            color: #000000;
            font-size: 12px;
            font-family: $fontMarkMedium;
        }
    }
}