.footer {
    width: 100%;
    height: 147px;
    font-size: 10px;
    font-family: $fontMarkMedium;
    position: relative;
    
    @media only screen and (max-width: 768px) {
        text-align: center;  
        height: 180px;         
    }
    
    .menu {
        position: absolute;
        top: 70px;
        right:90px;
        list-style-type: none;

        @include grid-media-query(palm) {
            right:30px;
        }

        @media only screen and (max-width: 768px) {
            position: relative;
            top: auto;
            right:auto;
            padding-top: 60px;  
        }

        li {
            display: inline-block;
            padding-left: 20px;

            &:nth-child(1) {
                padding-left: 0;
            }
        }
    }

    .copyright {
        position: absolute;
        top: 70px;
        left: 90px;
        display: inline-block;

        span {
            font-family: $fontMarkHeavy;
        }

        @include grid-media-query(palm) {
            left:30px;
        }

        @media only screen and (max-width: 768px) {
            position: relative;
            left: auto;     
            top: auto;    
            padding-top: 60px;   
        }
    }
}