.goto-gabarit {
    @include grid-media-query(palm) {
        height: 5vw;
        display: block;
    }
}
.gabarit {
 
    position: relative;
    margin-bottom: 8vw;
    transition: margin 0.5s;
    // letter-spacing: -0.01em;
    min-height: 20vw;

    @include grid-media-query(palm) {
        min-height: 10vw;
    }

    &-separator {
        width: 100%;
        height: 4vw;
        height: 5.3vw;
        @include grid-media-query(palm) {
            height: 10vw;
        }
    }

    .template-artist-details &, .template-playlist &, .template-creation & {
        margin-bottom: 3vw;
    }

    .desktop .template-artist-details &, .desktop .template-creation & {
        opacity: 0;
    }

    // Global
    iframe {
        width: 100%;
        max-width: 1280px;
    }

    .title-home {
        .template-artist-details & {
            display: none;
        }
    }

    .js-center-height {
        position: relative;
        right: 0;
        transition: transform 0.5s;
    }

    .title-project {
        font-family: $fontMarkBold;
        font-size: 3vw;
        width: 25vw;
        line-height: 0.9;
        letter-spacing: -0.01em;
        position: absolute;
        z-index: 20;
        
        @include grid-media-query(palm) {
            display: none;
            font-family: $fontMarkMedium;
            top: -5vw;
            font-size: 3.7vw;
            text-transform: uppercase;
        }
    }

    .legend {
        display: inline-block;
        width: 25vw;
        font-family: $fontMarkMedium;
        font-size: 9px;
        padding: 10px 5px 0 10px;
        text-transform: uppercase;

        @include grid-media-query(desk) {
            font-size: 10px;
        }
        @include grid-media-query(palm) {
            padding-left: 20px;
            display: inline-block;   
            width: 53vw;
            font-size: 10px;
        }         

        .by-to-line {
            display: none;            
            // .template-creation & {
            //     @include grid-media-query(palm) {
            //         display: block;
            //     }
            // }
        }
    }

    
    .related {
        float: right;
        text-transform: uppercase;
        font-family: $fontMarkMedium;
        font-size: 9px;
        margin-top: 4px;

        @include grid-media-query(desk) {
            font-size: 10px;
        }

        @include grid-media-query(palm) {
            margin-top: 9px;
            margin-right: 20px;
            font-size: 10px;
        }
        
        &-item {
            display: inline-block;
            cursor: pointer;
            vertical-align: middle;

            img {
                width: 8px;
                vertical-align: top;
                margin-right: 5px;
                
                .safari & {
                    margin-top: 1px;
                }

                @include grid-media-query(desk) {
                    width: 9px;
                }
                @include grid-media-query(palm) {
                    width: 12px;
                    vertical-align: baseline;
                }
            }

            &-separator {
                display: inline-block;
                margin: 0 8px 0 10px;
                div {
                    display: inline-block;
                    width: 1px;
                    height: 15px;
                    margin: 2px 0;
                    background-color: #b2b2b2;
                    vertical-align: baseline;
                    
                    @include grid-media-query(desk) {
                        height: 19px;
                        margin: 0;
                    }
                    
                    @include grid-media-query(palm) {
                        height: 16px;
                        display: none;
                    }
                }
            }

            &-playlist {
                @include grid-media-query(palm) {
                    display: none;
                }
            }

            &-social {
                .links {
                    position: relative;
                    white-space: nowrap;                    
                    right: 0;
                    &:focus {
                        outline: none;
                    }
                    
                    &-mask {
                        position: relative;
                        display: inline-block;
                        white-space: nowrap;
                        right: 0;
                        width: 0px;
                        transition: width 0.5s ease 0.5s;
                        text-align: center;

                        .microsoft &, .edge & {
                            position: relative;
                            top: -2px;
                        }
                        
                        
                        @include grid-media-query(palm) {
                            width: auto;
                            &:focus {
                                outline: none;
                            }
                        }
                        
                        a {
                            opacity: 0;
                            transition: opacity 0.5s ease 0.3s;
                            
                            @include grid-media-query(palm) {
                                opacity: 1;
                            }
                        }
                        
                        &.show {
                            width: 58px;
                            transition: width 0.5s ease;
                            a {
                                opacity: 1;
                                transition: opacity 0.5s ease 0.2s;
                            }
                        }
                    }
                    
                    &-share {
                        display: inline;

                        .microsoft &, .edge & {
                            position: relative;
                            top: 9px;
                        }
                        
                        @include grid-media-query(palm) {
                            display: none;
                        }

                        .share {
                            width: 8px;
                            
                            @include grid-media-query(desk) {
                                width: 9px;
                            }
                        }                        
                    }

                }
            }
        }        
    }
    

    /****************
        Gabarit 1
    */
    &.gabarit-1 {

        .video-container {
            width: 70%;
            margin: 0 auto;
            position: relative;
            padding-top: 3.8%;

            @include grid-media-query(palm) {
                width: 100%;
                padding-top: 0;
            }

            .vjs-onirim-skin {
                z-index: 2;
            }
        }
        .video-bg {
            position: absolute;
            width: 56.3%;
            top: 0%;
            right: -9%;
            
            @include grid-media-query(palm) {
                display: none;
            }
        }
        .legend {
            padding-left: 0;
            @include grid-media-query(palm) {
                padding-left: 20px;
            }
        }

        &-1 {
            .video-container {                
                padding-top: 3.5%;
                @include grid-media-query(palm) {
                    padding-top: 0;
                }
            }
            .video-bg {
                width: 49.7%;
            }
        }
        
        &-2 {
            .video-container {                
                padding-top: 3.5%;
                margin: 0 18%;
                @include grid-media-query(palm) {
                    padding-top: 0;
                    margin: 0;
                }
            }
            .video-bg {
                width: 56.3%;
                right: auto;
                left: -9%;
            }
        }
        
        &-3 {
            .video-container {                
                padding-top: 3.5%;
                margin: 0 18%;
                @include grid-media-query(palm) {
                    padding-top: 0;
                    margin: 0;
                }
            }
            .video-bg {
                width: 49.7%;
                right: auto;
                left: -9%;
            }
        }
    }
    

    /****************
        Gabarit 2
    */
    &.gabarit-2 {

        .video-container {
            width: 70%;
            margin: 0 auto;

            @include grid-media-query(palm) {
                width: 100%;
            }
        }
        .legend {
            padding-left: 0;

            @include grid-media-query(palm) {
                padding-left: 20px;
            }
        }
    }
            
            
    /****************
        Gabarit 3
    */
    $gabarit3-big-width: 55vw;
    $gabarit3-big-width-mobile: 100%;
    &.gabarit-3 {

        .js-center-height {
            padding-bottom: 3vw;   
        }

        &-0 {      
            right: 10%;
            @include grid-media-query(palm) {
                right: auto;
            }

            .big {
                float: right;
                .image-big {                
                    width: $gabarit3-big-width;
                    text-align: right;
                    font-size: 0;

                    @include grid-media-query(palm) {
                        width: $gabarit3-big-width-mobile;
                    }
                    &-left {
                        display: inline-block;
                        width: 54.25%;
                    }
                    &-right {
                        display: inline-block;
                        width: 45.7%;
                    }

                    img, video {
                        width: 100%;
                        display: block;
                    }
                }
                .legend {
                    margin-left: 12.05vw;      
                    width: 30%;      
                    @include grid-media-query(palm) {
                        display: inline-block;
                        margin-left: 0;
                        width: 65%;
                    } 
                }
            }      
            .small {
                position: absolute;
                right: $gabarit3-big-width;
                float: right;
                transform: translate(40%, 0);
                bottom: 0%; //-2.5vw;
                .image-small {
                    width: 30vw;
                    @include grid-media-query(palm) {
                        display: none;
                    }
                    img, video {
                        width: 100%;
                        display: block;
                    }
                }
                .title-project {
                    top: -13.7vw;
                    left: 13.9vw;
                }
            }
        }
        
        &-1 {
            left: 16%;
            @include grid-media-query(palm) {
                left: auto;
            }
            .big {
                
                .image-big {                
                    width: $gabarit3-big-width;
                    text-align: right;
                    font-size: 0;

                    @include grid-media-query(palm) {
                        width: $gabarit3-big-width-mobile;
                    }
                    &-left {
                        display: inline-block;
                        width: 45.75%;
                    }
                    &-right {
                        display: inline-block;
                        width: 54.25%;
                    }

                    img, video {
                        width: 100%;
                        display: block;
                    }
                }
            }
            .image-small {
                position: absolute;
                left: $gabarit3-big-width;
                width: 30vw;  
                @include grid-media-query(palm) {
                    display: none;
                }
                img, video {
                    transform: translate(-40%, -80%);
                    width: 100%;
                    display: block;
                }
            }
            .title-project {
                left: $gabarit3-big-width - 8.8vw;
                top: 11.4vw;
                line-height: 0.9;
            }
            .related {
                display: inline-block;
                float: none;
                position: absolute;
                right: 57.3%;

                @include grid-media-query(palm) {
                    float: right;
                    right: 0;
                }
            }
            .legend {
                padding-left: 0;
                @include grid-media-query(palm) {
                    padding-left: 20px;
                    width: 65%;
                }
            }
        }
    }


    /****************
        Gabarit 4
    */
    $gabarit4-big-width: 60vw;
    $gabarit4-big-width-mobile: 100%;
    &.gabarit-4 {

        &-0 {      
            right: 10%;
            @include grid-media-query(palm) {
                right: auto;
            }

            .js-center-height {
                padding-bottom: 3vw;
            }

            .big {
                float: right;
                .image-big {                
                    width: $gabarit4-big-width;

                    @include grid-media-query(palm) {
                        width: $gabarit4-big-width-mobile;
                    }
                    img {display: block;}
                }
                .legend {
                    // display: none;                     
                    @include grid-media-query(palm) {
                        display: inline-block;
                    } 
                }
            }      
            .small {
                position: absolute;
                right: $gabarit4-big-width;
                float: right;
                transform: translate(50%, 0%);
                bottom: 0;
                @include grid-media-query(palm) {
                    display: none;
                }
                .image-small {
                    width: 16vw;
                    img, video {
                        width: 100%;
                        display: block;
                    }
                }
                .title-project {
                    top: -14.3vw;
                    left: -1.2vw;
                    line-height: 0.9;
                }
            }

            &.quarter {
                .image-small {
                    img, video, .simple-video-control {
                        transform: translate(-25%, 0);
                        width: 100%;
                        display: block;
                    }
                }                 
            }
        }

        &-1 {
            left: 16%;
            @include grid-media-query(palm) {
                left: auto;
            }
            .js-center-height {
                padding-bottom: 3vw;
            }
            .image-big {                
                width: $gabarit4-big-width;
                // padding-bottom: 3vw;

                @include grid-media-query(palm) {
                    width: $gabarit4-big-width-mobile;
                }

                img {display: block;}
            }
            .image-small {
                position: absolute !important;
                left: $gabarit4-big-width;
                width: 16vw;  
                bottom: 0;
                @include grid-media-query(palm) {
                    display: none;
                }
                img, video, .simple-video-control {
                    transform: translate(-50%, 0);
                    width: 100%;
                    display: block;
                }
            }
            .title-project {
                left: $gabarit4-big-width - 4vw;
                top: 9.7vw;
                line-height: 0.9;
            }
            .related {
                display: inline-block;
                float: none;
                position: absolute;
                right: 48%;
                margin-right: 7px;

                .mac & {
                    margin-right: 13px;
                }


                @include grid-media-query(palm) {
                    float: right;
                    right: 0;
                    padding-right: 0;
                }                
            }
            .legend {
                padding-left: 0;
            }
            &.quarter {
                .image-small {
                    img, video, .simple-video-control {
                        transform: translate(-25%, 0);
                        width: 100%;
                        display: block;
                    }
                }
                .related {
                    right: 44%;
                    @include grid-media-query(palm) {
                        right: 0;
                    }
                }
            }
        }
    }
    
    
    /****************
        Gabarit 5
    */
    &.gabarit-5 {
        $gabarit5-left: 13.5%;

        
        .swiper-outside {
            // @include grid-media-query(palm) {
                position: relative;
            // }
        }


        &-0 {      
            left: -$gabarit5-left;
            @include grid-media-query(palm) {
                left: auto;
                right: -14.5%;
            }

            .swiper-container {
                position: relative;
                width: 84.1%;
                // padding: 0 100px;
                @include grid-media-query(palm) {
                    width: 134.1%;
                }
            }

            .swiper-custom-arrows {
                position: absolute;
                bottom: 0;
                left: 93%;
                @include grid-media-query(palm) {         
                    bottom: 0;
                    left: 0;
                    top: auto;
                    transform: translate(-100%, 0);
                }
            }

            .swiper-button-prev {
                margin-right: 5px;
                @include grid-media-query(palm) {
                    margin-right: 0;
                    width: 100%;
                    text-align: center;
                }
            }
            .swiper-button-next {
                @include grid-media-query(palm) {
                    margin-right: 0;
                    width: 100%;
                    text-align: center;
                    right: auto;
                    border-top: 1px solid #e5e5e5;
                    padding-top: 3px;
                }
            }

            .title-project {
                right: -8.3vw;
                top: 5.2vw;
                z-index: 2;
            }

            .legend {
                // position: absolute;
                width: 60%;
                margin-left: $gabarit5-left;
                float: left;
                
                @include grid-media-query(palm) {
                    position: relative;
                    float: left;
                    left: 0;
                    padding-left: 0;
                    margin-left: 0;
                    width: 42%;
                    // margin-bottom: 8vw;
                }
            }

            .related {
                position: absolute;
                right: 7.85%;
                
                @include grid-media-query(palm) {
                    position: relative;
                    right: 14.55%;
                }
            }

        }
        
        &-1 {      
            right: -13.5%;
            @include grid-media-query(palm) {
                right: -14.5%;
            }

            .swiper-container {
                position: relative;
                width: 84.1%;
                @include grid-media-query(palm) {
                    width: 134.1%;
                }
            }
    
            .swiper-custom-arrows {
                position: absolute;
                bottom: 0;
                right: 92.4%;
                @include grid-media-query(palm) {         
                    bottom: 0;
                    left: 0;
                    right: auto;
                    top: auto;
                    transform: translate(-100%, 0);
                }
            }

            .swiper-button-prev {
                margin-right: 5px;
                @include grid-media-query(palm) {
                    margin-right: 0;
                    width: 100%;
                    text-align: center;
                }
            }
            .swiper-button-next {
                @include grid-media-query(palm) {
                    margin-right: 0;
                    width: 100%;
                    text-align: center;
                    right: auto;
                    border-top: 1px solid #e5e5e5;
                    padding-top: 3px;
                }
            }

            .title-project {
                left: -1vw;
                top: 5.2vw;
                z-index: 2;
            }

            .legend {
                // position: absolute;
                width: 70%;
                margin-left: 8%;
                padding-left: 0;
                float: left;
                
                @include grid-media-query(palm) {
                    left: 0;
                    width: 42%;
                    position: relative;
                    // margin-bottom: 8vw;
                    margin-left: 0;
                }
            }

            .related {
                position: absolute;
                padding-right: 20px;
                right: 13.3%;
                
                @include grid-media-query(palm) {
                    position: relative;
                    right: 14.55%;
                    padding-right: 0px;
                }
            }

        }
        
        &-2 {
            .image-big {
                width: 80%;
                text-align: left;
                font-size: 0;
                position: relative;
                // display: flex;
                // flex-direction: row;
                
                @include grid-media-query(palm) {
                    width: 100%;
                } 

                &-item {
                    // display: inline-block;
                    @include grid-media-query(palm) {
                        // flex-basis: 50% !important;
                        flex-basis: 73% !important; 
                        // &:nth-child(3) {
                        //     display: none;
                        // }
                    } 

                    img {
                        width: 100%;
                        display: block;
                    }
                }
                
                &-border {
                    align-items: stretch;
                    align-self: stretch;
                    
                    @include grid-media-query(palm) {
                        display: none;
                    } 
                }
                
                &.bottom {
                    .image-big-item {
                        vertical-align: bottom;       
                    }
                    .title-project {
                        top: 3.8vw;
                    }
                }

                &.center {
                    margin: 0 auto;
                }
                &.right {
                    margin: 0 0 0 auto;
                    .title-project {
                        left: 68.2vw;
                    }
                    .related {
                        padding-right: 20px;
                    }
                }
                &.left {
                    margin: 0 auto 0 0;
                    .title-project {
                        left: 48.6vw;
                    }
                    .legend {
                        padding-left: 20px;
                    }
                }                
            }
            .title-project {
                bottom: 12.5%;
                left: 58.9vw;
                width: 34.2vw;
                text-align: left;
            } 
            .legend {
                width: 70%;
                // position: absolute;
                padding-left: 0;
                @include grid-media-query(palm) {
                    display: inline-block;
                    position: relative;
                    width: 60%;
                    padding-left: 20px;
                } 
            }
            .related {
                position: relative;
                margin-right: 0;
                @include grid-media-query(palm) {                    
                    margin-right: 0;
                    padding-right: 20px;
                }
            }
        }
        
        /* OLD WAY - WITHOUT FLEXBOX*/
        /*&-2 {
            .image-big {
                width: 80%;
                text-align: left;
                font-size: 0;
                position: relative;
                
                @include grid-media-query(palm) {
                    width: 100%;
                } 

                &-item {
                    display: inline-block;
                    width: 33.33%;
                    vertical-align: top;
                    @include grid-media-query(palm) {
                        width: 50% !important;
                        &:nth-child(3) {
                            display: none;
                        }
                    } 

                    img {
                        width: 100%;
                        display: block;
                    }
                }
                
                &-border {
                    display: inline-block;
                    font-size: 0;
                    height: 100%;
                    @include grid-media-query(palm) {
                        display: none;
                    } 
                }
                
                &.bottom {
                    .image-big-item {
                        vertical-align: bottom;       
                    }
                    .title-project {
                        top: 3.8vw;
                    }
                }

                &.center {
                    margin: 0 auto;
                }
                &.right {
                    margin: 0 0 0 auto;
                    .title-project {
                        left: 68.2vw;
                    }
                    .related {
                        padding-right: 20px;
                    }
                }
                &.left {
                    margin: 0 auto 0 0;
                    .title-project {
                        left: 48.6vw;
                    }
                    .legend {
                        padding-left: 20px;
                    }
                }                
            }
            .title-project {
                bottom: 12.5%;
                left: 58.9vw;
                width: 34.2vw;
                text-align: left;
            } 
            .legend {
                width: 70%;
                // position: absolute;
                padding-left: 0;
                @include grid-media-query(palm) {
                    display: inline-block;
                    position: relative;
                    width: 60%;
                    padding-left: 20px;
                } 
            }
            .related {
                position: relative;
                margin-right: 0;
                @include grid-media-query(palm) {                    
                    margin-right: 0;
                    padding-right: 20px;
                }
            }
        }*/
        
    }



    /****************
        Gabarit 6
    */
    $gabarit6-big-width: 41vw;
    $gabarit6-big-width-mobile: 60vw;
    &.gabarit-6 {

        .center {
            display: block;
            margin: 0 auto;
            text-align: center;

            @include grid-media-query(palm) {
                text-align: initial;
            }
        }

        &-0 {
            font-size: 0;
            .big {
                display: inline-block;
                vertical-align: top;
                transform: translate(8%, 13%);
                width: $gabarit6-big-width;
                @include grid-media-query(palm) {
                    position: absolute;
                    transform: translate(0%, 0%);
                    width: $gabarit6-big-width-mobile;
                    // right: 38vw;
                    top: 6.4vw;
                }
                .image-big {                
                    width: 100%;
                    img, video {
                        display: block;        
                        width: 100%;
                    }
                }
                .legend {
                    text-align: left;
                    float: left;
                    padding-left: 0px;
                    width: 53%;
                    @include grid-media-query(palm) {
                        width: 87%;
                        margin-top: 0; //6vw;
                        padding-left: 20px;                    
                    } 
                }
                .related {
                    display: none;
                    position: relative;
                    right: 4vw;
                    @include grid-media-query(palm) {
                        display: none;
                    }
                }
            }      
            .small {
                display: inline-block;
                @include grid-media-query(palm) {
                    float: right;
                    // margin-right: 3vw;
                }
                .image-small {
                    width: 29vw;
                    @include grid-media-query(palm) {
                        width: 43vw;
                    }
                    img {
                        display: block;
                    }
                }
                .title-project {
                    // top: 18.2vw;
                    top: 44%;
                    left: 5.6vw;
                    line-height: 0.9;
                }
                .legend {
                    display: none;
                }
                .related {
                    @include grid-media-query(palm) {
                        display: inline-block;
                        // margin-right: 0;
                    }
                }
            }
        }

        &-1 {
            font-size: 0;
            .big {
                display: inline-block;
                vertical-align: top;
                transform: translate(18%, 9.5%);
                width: 26vw;
                position: relative;
                z-index: 1;
                @include grid-media-query(palm) {
                    width: 50vw;
                    position: absolute;
                    transform: translate(0%, 0%);
                    top: 3.5vw;
                }
                .image-big {                
                    width: 100%;
                    img, video {
                        display: block;        
                        width: 100%;
                    }
                }
                .legend {
                    text-align: left;
                    float: left;
                    padding-left: 0px;
                    width: 78%;
                    @include grid-media-query(palm) {
                        width: 90%;
                        margin-top: 0; //3.5vw;
                        padding-left: 20px;
                    } 
                }
            }      
            .small {
                display: inline-block;
                @include grid-media-query(palm) {
                    float: right;
                }
                .image-small {
                    width: 31vw;
                    @include grid-media-query(palm) {
                        width: 55vw;
                    }
                    img {
                        display: block;
                    }
                }
                .title-project {
                    // top: 19.8vw;
                    top: 47%;
                    right: 2vw;
                    line-height: 0.9;
                    text-align: left;
                }
                .legend {
                    display: none;
                }
                .related {
                    @include grid-media-query(palm) {
                        display: inline-block;
                    }
                }
            }
        }

        &-2 {
            font-size: 0;
            .big {
                display: inline-block;
                vertical-align: top;
                width: 43vw;
                @include grid-media-query(palm) {
                    width: 64vw;
                    top: 6.4vw;
                }
                .image-big {                
                    width: 100%;
                    // margin-top: 6%;
                    position: relative;
                    z-index: 1;
                    img, video {
                        display: block;        
                        width: 100%;
                    }
                }
                .legend {
                    text-align: left;
                    float: left;
                    padding-left: 0px;
                    width: 53%;
                    @include grid-media-query(palm) {
                        width: 87%;
                        margin-top: 0; //6vw;
                        padding-left: 20px;                    
                    } 
                }
                .related {
                    display: none;
                    position: relative;
                    right: 4vw;
                    @include grid-media-query(palm) {
                        display: none;
                    }
                }
            }      
            .small {
                display: inline-block;
                position: relative;                
                // margin-top: 10.3%; // Make it dynamic

                @include grid-media-query(palm) {
                    position: absolute;
                }
                .image-small {
                    width: 29vw;
                    position: relative;
                    z-index: 1;
                    transition: all 0.2s;
                    // margin-top: 10.3%; // Make it dynamic
                        
                    @include grid-media-query(palm) {
                        width: 36vw;
                    }
                    img {
                        display: block;
                        position: relative;
                        width: 110%;
                        left: -10%;
                        // height: 300px; // for test centering js
                        // border: 20px solid #ff00ff; // Make it dynamic
                        border-right: 0px;
                        
                        @include grid-media-query(palm) {
                            width: 120%;
                            left: -20%;
                        }
                    }
                }
                .title-project {
                    // top: 18.2vw;
                    top: 44%;
                    left: 5.6vw;
                    line-height: 0.9;
                }
                .legend {
                    display: none;
                }
                .related {
                    @include grid-media-query(palm) {
                        display: inline-block;
                        // margin-right: 0;
                    }
                }
            }
        }

        &-3 {
            .center {
                display: block;
                margin: 0 auto;
                text-align: center;
                @include grid-media-query(palm) {
                    padding: 0;
                }
            }

            .big {
                display: inline-block;
                width: 60vw;
                position: relative;
                @include grid-media-query(palm) {
                    width: 100%;
                }
                .image-big {           
                    font-size: 0;
                    // position: relative;
                    text-align: right;
                    flex-basis: 50%;

                    @include grid-media-query(palm) {
                        width: 106vw;
                        left: -3vw;
                    }

                    &-border {
                        align-items: stretch;
                        align-self: stretch;
                        
                        @include grid-media-query(palm) {
                            display: none;
                        } 
                    }
                }
                .legend {
                    text-align: left;
                    // float: left;
                    padding-left: 0px;
                    padding-top: 10px;
                    width: 65%;
                    position: absolute;
                    left: 0;
                    // margin-left: 3vw;    
                    @include grid-media-query(palm) {
                        padding-top: 10px;   
                        width: 70%;   
                        padding-left: 20px;        
                    } 
                }
                .related {
                    margin-top: 5px;
                    // margin-right: 3vw;
                    @include grid-media-query(palm) {
                    }
                }
            }
        }

        /* NO FLEX BOX */
        /*&-3 {
            .center {
                display: block;
                margin: 0 auto;
                text-align: center;
                @include grid-media-query(palm) {
                    padding: 0;
                }
            }

            .big {
                display: inline-block;
                width: 60vw;
                position: relative;
                @include grid-media-query(palm) {
                    width: 100%;
                }
                .image-big {           
                    font-size: 0;
                    position: relative;
                    text-align: right;

                    @include grid-media-query(palm) {
                        width: 106vw;
                        left: -3vw;
                    }

                    img {
                        width: 50%;
                        display: inline-block;
                    }
                }
                .legend {
                    text-align: left;
                    // float: left;
                    padding-left: 0px;
                    padding-top: 10px;
                    width: 65%;
                    position: absolute;
                    left: 0;
                    // margin-left: 3vw;    
                    @include grid-media-query(palm) {
                        padding-top: 10px;   
                        width: 70%;           
                    } 
                }
                .related {
                    margin-top: 5px;
                    // margin-right: 3vw;
                    @include grid-media-query(palm) {
                    }
                }
            }
        }*/

        &-4 {
            .center {
                display: block;
                margin: 0 auto;
                text-align: center;
                @include grid-media-query(palm) {
                    padding: 0;
                }
            }

            .big {
                display: inline-block;
                width: 60vw;
                @include grid-media-query(palm) {
                    width: 100%;
                }
                .image-big {           
                    font-size: 0;
                    position: relative;
                    text-align: right;

                    @include grid-media-query(palm) {
                        width: 106vw;
                        left: -3vw;
                    }

                    img {
                        width: 50%;
                        display: inline-block;
                        &:nth-child(1) {
                            z-index: 1;
                            position: absolute;
                            left: 3vw;
                            bottom: 0;
                        }
                        &:nth-child(2) {
                            margin-right: 3vw;
                        }
                    }
                }
                .legend {
                    text-align: left;
                    float: left;
                    padding-left: 0px;
                    padding-top: 10px;
                    width: 65%;
                    margin-left: 3vw;    
                    @include grid-media-query(palm) {
                        padding-top: 10px;   
                        width: 70%;           
                    } 
                }
                .related {
                    margin-top: 5px;
                    margin-right: 3vw;
                    @include grid-media-query(palm) {
                    }
                }
            }
        }
    }
    /****************
        Gabarit 7
    */
    &.gabarit-7 {

        .center {
            display: block;
            margin: 0 auto;
            text-align: center;
        }

        &-0 {
            .center {
                @include grid-media-query(palm) {
                    padding: 0;
                }
            }

            .big {
                display: inline-block;
                width: 63vw;
                @include grid-media-query(palm) {
                    width: 100%;
                }
                .image-big {                
                    width: 100%;
                    img {display: block;}
                }
                .legend {
                    text-align: left;
                    float: left;
                    padding-left: 0px;
                    // padding-top: 15px;
                    width: 65%;
                    @include grid-media-query(palm) {
                        padding-top: 10px;   
                        padding-left: 20px;
                        width: 70%;               
                    } 
                }
                .related {
                    margin-top: 5px;
                }
            }
        }
        
        &-1 {
            .big {
                display: inline-block;
                width: 83vw;
                @include grid-media-query(palm) {
                    width: 100%;
                }
                .image-big {                
                    width: 100%;
                    img {display: block;}
                }
                .legend {
                    text-align: left;
                    float: left;
                    padding-left: 0px;
                    // padding-top: 15px;
                    width: 70%;
                    @include grid-media-query(palm) {
                        padding-top: 10px; 
                        padding-left: 20px;  
                        width: 67%;               
                    } 
                }
                .related {
                    margin-top: 5px;
                }
            }
        }
    }

       
    /****************
        Gabarit 8
    */
    $gabarit8-big-width: 100%;
    &.gabarit-8 {

        &-0 {
            .big {
                display: flex;
                margin: 0 auto;
                width: 76.5%;
                @include grid-media-query(palm) {
                    width: 100%;
                } 

                .image-big {
                    width: $gabarit8-big-width;
                    text-align: center;
                    font-size: 0;
                    margin: 0 auto;

                    &-left {
                        display: inline-block;
                        flex-basis: 61.8%;
                        @include grid-media-query(palm) {
                            flex-basis: 72%;
                        } 
                    }
                    &-right {
                        display: inline-block;
                        flex-basis: 38%;
                        @include grid-media-query(palm) {
                            flex-basis: 72%;
                        } 
                    }

                    img, video {
                        width: 100%;
                        display: block;
                    }
                }
                .title-project {
                    top: 7.5vw;
                    right: 1.5vw;
                    width: 50%;
                    text-align: right;
                }
                
            }
            .legend {
                margin-left: 11.7%;
                padding-left: 0;  
                @include grid-media-query(palm) {
                    display: inline-block;
                    margin-left: 0;
                    padding-left: 20px;  
                    width: 65%;
                } 
            }
            .related {
                margin-right: 11.7%;
                @include grid-media-query(palm) {                    
                    margin-right: 0;
                    padding-right: 20px;
                }
            }
        }    
        
        &-1 {
            .big {
                display:flex; 
                width:76.5%;
                @include grid-media-query(palm) {
                    width: 100%;
                } 

                .image-big {
                    width: $gabarit8-big-width;
                    text-align: left;
                    font-size: 0;
                    margin: 0 auto;

                    &-left {
                        display: inline-block;
                        flex-basis: 61.8%;
                        @include grid-media-query(palm) {
                            flex-basis: 72%;
                        } 
                    }
                    &-right {
                        display: inline-block;
                        flex-basis: 38%;
                        @include grid-media-query(palm) {
                            flex-basis: 72%;
                        } 
                    }

                    img, video {
                        width: 100%;
                        display: block;
                    }
                }
                .title-project {
                    top: 7.5vw;
                    right: 13vw;
                    width: 14.2vw;
                    text-align: left;
                }
                
            }
            .legend {
                @include grid-media-query(palm) {
                    display: inline-block;
                    width: 65%;
                } 
            }
            .related {
                margin-right: 23.55%;
                @include grid-media-query(palm) {                    
                    margin-right: 0;
                    padding-right: 20px;
                }
            }
        }

        &-2 {
            .big {
                display: flex;
                margin: 0 0 0 auto;
                width: 76.5%;
                @include grid-media-query(palm) {
                    width: 100%;
                } 

                .image-big {
                    width: $gabarit8-big-width;
                    text-align: right;
                    font-size: 0;
                    margin: 0 auto;
                    display: flex; 
                    flex-direction:row;

                    &-left {
                        display: inline-block;
                        flex-basis: 61.8%;
                        @include grid-media-query(palm) {
                            flex-basis: 72%;
                        } 
                    }
                    &-right {
                        display: inline-block;
                        flex-basis: 38%;
                        @include grid-media-query(palm) {
                            flex-basis: 72%;
                        } 
                    }
                    img, video {
                        width: 100%;
                        display: block;
                    }
                }
                .title-project {
                    top: 7.5vw;
                    left: 2.2vw;
                    text-align: right;
                }
                
            }
            .legend {
                margin-left: 23.55%;
                padding-left: 0;
                @include grid-media-query(palm) {
                    display: inline-block;
                    margin-left: 0;
                    padding-left: 20px;
                    width: 65%;
                } 
            }
            .related {
                padding-right: 20px;
                @include grid-media-query(palm) {
                    margin-right: 0;
                } 
            }
        }     
    }

    /****************
        Gabarit 9
    */
    &.gabarit-9 {
        
        $gabarit9-margin-width: 1.3vw;
        $gabarit9-margin-height: 2.6vw;
        
        $gabarit9-margin-width-mobile: 2.5vw;
        $gabarit9-margin-height-mobile: 5vw;
        
        &-0 {
            .center {
                width: 80%;
                margin: 0 auto;
                
                @include grid-media-query(palm) {
                    width: 100%;
                } 

                .column {
                    display: inline-block;
                    width: 33.33%;
                    vertical-align: top;
                    font-size: 0;

                    @include grid-media-query(palm) {
                        width: 50%;
                        .tablet & {
                            width: 44%;
                        }                        
                    } 


                    &-left {
                        padding-right: $gabarit9-margin-width;
                        @include grid-media-query(palm) {
                            padding-right:  $gabarit9-margin-width-mobile;
                        } 
                    }
                    
                    &-center {
                        padding-right: $gabarit9-margin-width;
                        padding-left: $gabarit9-margin-width;
                        padding-top: 7.2vw;
                        @include grid-media-query(palm) {
                            padding-right: 0;
                            padding-left: $gabarit9-margin-width-mobile;
                            padding-top: 0;
                            
                            .tablet & {
                                width: 56%;
                            }      
                        } 

                        .top {
                            @include grid-media-query(palm) {
                                padding-top: 0; //$gabarit9-margin-height-mobile;
                            } 
                        }
                    }
                    
                    &-right {
                        padding-left: $gabarit9-margin-width;

                        .top, .bottom {
                            @include grid-media-query(palm) {
                                display: none;
                            } 
                        }
                    }

                    .top {
                        padding-bottom: $gabarit9-margin-height;
                        @include grid-media-query(palm) {
                            padding-bottom: $gabarit9-margin-height-mobile;
                        } 
                    }
                }
                
            }
            
            .title-project {
                width: 100%;
                // text-align: center;
                // position: relative;
                // top: -$gabarit9-margin-height;
            }
               
            .legend {
                padding-left: 0;  
                @include grid-media-query(palm) {
                    display: inline-block;
                    margin-left: 0;
                    padding-left: 20px;  
                    width: 100%;
                } 
            }
            .related {
                @include grid-media-query(palm) {                   
                    margin-right: 0;
                    padding-right: 20px;
                    position: absolute;
                    right: 0;
                    margin-top: -13px;
                }
            }
        } 

        &-1 {
            // padding-top:3vw;

            @include grid-media-query(palm) {
                padding-top: 0;
            } 

            .center {
                width: 80%;
                margin: 0 auto;
                
                @include grid-media-query(palm) {
                    width: 100%;
                } 

                .column {
                    display: inline-block;
                    width: 33.33%;
                    vertical-align: top;
                    font-size: 0;

                    @include grid-media-query(palm) {
                        width: 50%;
                        .tablet & {
                            width: 44%;
                        }      
                    } 


                    &-left {
                        padding-right: $gabarit9-margin-width;
                        @include grid-media-query(palm) {
                            padding-right:  $gabarit9-margin-width-mobile;
                        } 
                    }
                    
                    &-center {
                        padding-right: $gabarit9-margin-width;
                        padding-left: $gabarit9-margin-width;
                        @include grid-media-query(palm) {
                            padding-right: 0;
                            padding-left: $gabarit9-margin-width-mobile;
                            .tablet & {
                                width: 56%;
                            }      
                        } 

                        .top {
                            @include grid-media-query(palm) {
                                padding-top: 0; //$gabarit9-margin-height-mobile;
                            } 
                        }
                    }
                    
                    &-right {
                        padding-left: $gabarit9-margin-width;

                        .top, .bottom {
                            @include grid-media-query(palm) {
                                display: none;
                            } 
                        }
                    }

                    .top {
                        padding-bottom: $gabarit9-margin-height;
                        @include grid-media-query(palm) {
                            padding-bottom: $gabarit9-margin-height-mobile;
                        } 
                    }
                }
                
            }
            
            .title-project {
                width: 100%;
                text-align: center;
                // position: relative;
                top: -$gabarit9-margin-height;
            }
               
            .legend {
                padding-left: 0;  
                @include grid-media-query(palm) {
                    display: inline-block;
                    margin-left: 0;
                    padding-left: 20px;  
                    width: 100%;
                } 
            }
            .related {
                @include grid-media-query(palm) {                    
                    margin-right: 0;
                    padding-right: 20px;
                    position: absolute;
                    right: 0;
                }
            }
        } 
    }
}