.header {
    position: fixed;
    z-index: 900;
    top: 0;
    left: 0;
    width: 100vw;
    max-width: 100%;
}

#transition {
    position: fixed;
    z-index: 2000;
    background-color: #000000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    // display: none;

    @keyframes transition-leave {
        0% {
            display: block;
            right: 100%;
        }
        100% {
            right: 0;
        }
    } 

    @keyframes transition-enter {
        0% {
            display: block;
            left: 0;
            right: 0;
        }
        100% {
            left: 100%;
            display: none;
        }
    }

    &.leave {
        animation: transition-leave 0.7s forwards;
    }
    &.enter {
        animation: transition-enter 0.7s 0.2s forwards;
    }
}

#intro {
    position: fixed;
    z-index: 1000;
    background-color: #ffffff;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    .resume {
        padding: 0;
        min-width: 80%;
        width: 80%;
        bottom: 10%;
        position: absolute;
        top: auto;
        left: 90px;
        
        @include grid-media-query(palm) {
            left: 30px;
            top: 30%;
            bottom: auto;
        }
    }

    &.hide {
        @keyframes hideintrotoright {
            100% {
                display: none;
            }
            to {
                left: 100%;
                right: -100%;
            }
        } 
        @keyframes hideintrototop {
            100% {
                display: none;
            }
            to {
                bottom: 100%;
            }
        }
        animation: hideintrotoright 0.3s ease-in forwards;        

        @include grid-media-query(palm) {
            animation: hideintrototop 0.3s ease-in forwards;        
        }

        .content {
            transition: opacity 0.1s;
            opacity: 0;
        }
    }

    &.hide-quick {
        display: none !important;
    }

    .content {
        font-family: $fontMarkBold;
        font-size: 5vw;
        color: #ffffff;
        line-height: 1;
        // background: linear-gradient(to right, #20201f, #151514);
        // background-size: 200% auto;
        // -webkit-background-clip: text;
        // -webkit-text-fill-color: transparent;
        width: 80%;
        margin-left: 90px;
        position: absolute;
        bottom: 90px;


        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#151514+21,2d2d2d+53,151514+83 */
        background: #151514; /* Old browsers */
        background: -moz-linear-gradient(left,  #151514 21%, #2d2d2d 53%, #151514 83%); /* FF3.6-15 */
        background: -webkit-linear-gradient(left,  #151514 21%,#2d2d2d 53%,#151514 83%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right,  #151514 21%,#2d2d2d 53%,#151514 83%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#151514', endColorstr='#151514',GradientType=1 ); /* IE6-9 */

        background-size: 200% auto;        
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        animation: shine 3s linear alternate infinite;
        @keyframes shine {
          to {
            background-position: 200% center;
          }
        }

        @include grid-media-query(palm) {
            margin-left: 30px;
            font-size: 7vw;
        }
    }
}

.menu-desktop {
    @include grid-media-query(palm) {
        display: none;
    }

    position: absolute;
    height: $menuHeightDesktop;
    width: 100%;
    max-width: 100%;
    background-color: #ffffff;
    z-index: 890;

    ul.menu {
        position: absolute;
        top: 34px;
        right: 90px;
        margin: 0;
        padding: 0;
    
        .menu-item {
            display: inline-block;
            padding-left: 20px;
    
            a {
                font-family: $fontMarkBold;
                text-transform: uppercase;
                color: #cacaca;
                text-decoration: none;
                font-size: 12px;
                
                .page-template-homepage & {
                    color: $menu-color;
                }

                &:hover {
                    color:grey;
                }
            }


            &.current_page_item {
                a {
                    // font-family: $fontMarkBold; 
                    color: $menu-color;
                }
            }
        }
    }
}

.menu-mobile {
    display: none;
    @include grid-media-query(palm) {
        display: block;
        position: fixed;
        /* z-index: 9999; */
        width: 100%;
        max-width: 100%;
        height: 60px;
        background-color: #ffffff;
    }

    &-burger {
        position: absolute;
        right: 23px;
        top: 18px;
        height: 25px;
        cursor: pointer;
    }

    &-content {
        display: none;
        position: absolute;
        top:0;
        width: 100%;
        max-width: 100%;
        height: 100vh;
        background-color: #000000;
        
        .bt-close {
            position: absolute;
            right: 23px;
            top: 18px;
            height: 25px;
            cursor: pointer;
        }

        ul.menu {
            margin-left: $marginLeftMobile;
            margin-top: 28vh;
            list-style-type: none;
            
            @include grid-media-query(small-height) {
                margin-top: 20vh;
            }

            .menu-item {
                a {
                    font-family: $fontMarkBold;
                    text-transform: uppercase;
                    font-size: 9vw;
                    color:#ffffff;
                    text-decoration: none;
                    line-height: 1.1;
                }
                
                // About us
                &:nth-child(4) {
                    position: fixed;
                    bottom: $marginBottomMobile;    
                    
                    @include grid-media-query(small-height) {
                        bottom: $marginBottomSmallMobile;
                    }

                    a {                        
                        font-family: $fontMarkMedium;
                        text-transform: none;
                        font-size: 22px;
                        line-height: 0;
                    }
                }

                // Playlist
                &:nth-child(5) {
                    display: none;
                }
            }
        }

        .social {
            position: fixed;
            bottom: $marginBottomMobile;
            right: 30px;
            
            @include grid-media-query(small-height) {
                bottom: $marginBottomSmallMobile;
            }

            li {
                display: inline-block;
                padding-left: 4px;
            }
        }
    }
}



#logo {    
    position: absolute;
    top: 30px;
    left: $marginLeftDesktop;
    z-index: 3000;
    display: inline;

    a {
        position: relative;
        font-size: 0;
    }

    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100px;
    }

    .menu-mobile & {
        z-index: 1001;
    }

    @include grid-media-query(palm) {
        top: 20px;
        left: $marginLeftMobile;

        img {
            width: 80px;
            position: absolute;
        }
    }

    .white {
        position: absolute;
        left: 0;
        transition: opacity 0.7s;
        opacity: 1;
    }
    .black {opacity: 0;}

    &.to-black {
        .white {
            transition: opacity 0.7s;
            opacity: 0;
        }
        .black {
            opacity: 1;
        }
    }
}
/* Mobile menu */
.menu-opened {
    display: none;
}
