img.lazy {
    opacity: 0;
    // transition: opacity 1s;
    // filter: blur(5px);
}

img.lazy-loaded {
    // opacity: 1;
    animation-duration: 1s;
    animation-name: lazy-show-in;
    animation-fill-mode: forwards;
}



  
  @keyframes lazy-show-in {
    from {
      opacity: 0;      
      // filter: blur(2px);
    }
  
    to {
      opacity: 1;      
      // filter: blur(0px);
    }
  }



// img[data-src].lazy {
//     opacity: 0;
// }