.template-creation, .template-playlist {

    .legend {

        a {
            position: relative;
            vertical-align: middle;

            .safari & {
                vertical-align: -15%;
            }

            span {
                position: absolute;
                white-space: nowrap;
                border: 1px solid #000000;
                line-height: 12px;
                padding: 1px 2px 0px 2px;
                top: -3px;
                display: inline-block;

                .firefox & {padding: 1px 2px 0px 2px;}
                .safari & {padding: 1px 2px 1px 2px;}
                .microsoft & {top: -3px;}

                @include grid-media-query(palm) {
                    .firefox & {
                        top: -2px;
                        padding: 0px 2px 0px 2px;
                    }
                }

                &.over {
                    color: #000000;
                    background-color: #ffffff;
                    transition: opacity .3s;
                    opacity: 0; 
                }
                
                &.default {
                    color: #ffffff;
                    background-color: #000000;
                }

            }

            &:hover {
                span {
                    &.over {
                        transition: opacity .3s;
                        opacity: 1;
                    }
                }
            }
        }
    }
}