.template-playlist-shared {

    .related-item-playlist {
        display: none;
    }

    .related-item-separator {
        opacity: 0;
    }

    .related-item-social {
        // display: none;
    }
}