@media (min-width: 960px) {
  .home #page {
    overflow: hidden;
  }
}

.template-homepage {

  padding: 0 90px;

  @include grid-media-query(palm) {
    padding: 0;
  }

  .gabarit {
    $marginTopMobile: 22vh;

    margin-bottom: 0;
    // margin-top: 2vh;
    position: relative;
    min-height: 80%;

    @include grid-media-query(palm) {
      // margin-top: $marginTopMobile;
      margin-top: 3vh;
    }

    .title-home {
      position: absolute;
      z-index: 10;
      opacity: 0;
      transition: opacity 0.5s;

      @include grid-media-query(palm) {
        margin-left: 30px;
        margin-top: 0; //-$marginTopMobile;
        position: relative;
        padding-bottom: 4vh;
        opacity: 1;
      }

      &.show {
        opacity: 1;
      }

      &-artist {
        text-transform: uppercase;
        font-family: $fontMarkHeavy;
        font-size: 100px;
        letter-spacing: -0.005em;
        line-height: 0.9;

        @include grid-media-query(palm) {
          font-size: 11vw;
        }

        @include grid-media-query(desk) {
          font-size: 5.5vw;
        }
      }

      &-project {
        font-family: $fontMarkMedium;
        font-size: 30px;
        padding-left: 6px;
        @include grid-media-query(palm) {
          font-size: 6vw;
          padding-left: 0px;
        }
        @include grid-media-query(desk) {
          font-size: 35px;
        }
      }
    }

    .legend, .related, .title-project {
      display: none !important;
    }
  }

  // Adapt Gabarit for Homepage
  .gabarit.gabarit-1 {
    @include homeDecalToLeft();
    .video-container {
      margin: 0 6.6% 0 auto;
      width: 73%;
      @include grid-media-query(palm) {
        margin: 0;
        width: 100%;
        padding-top: 0;
      }
    }
  }
  .gabarit.gabarit-1.gabarit-1-1 {
    .video-container {
      margin: 0 5.1% 0 auto;
      padding-top: 3%;
      @include grid-media-query(palm) {
        padding-top: 0;
        .mobile & {
          width: 120%;
          margin-left: -10%;
        }
      }
    }
    .video-bg {
      right: -7%;
      width: 43.6%;
    }
  }
  .gabarit.gabarit-1-2 .video-container {
    margin: 0 0 0 auto;
  }
  .gabarit.gabarit-1-3 .video-container {
    padding-top: 3%;
    margin: 0 0 0 auto;
    @include grid-media-query(palm) {
      padding-top: 0;
      .mobile & {
        width: 120%;
        margin-left: -10%;
      }
    }
    .video-bg {
      width: 43.6%;
    }
  }
  .gabarit.gabarit-2-1 .video-container {
    .mobile & {
      width: 120%;
      margin-left: -10%;
    }
  }
  .gabarit.gabarit-2 .video-container {
    width: 81%;
    margin: 0 0 0 auto;
    @include grid-media-query(palm) {
      margin: 0;
      width: 100%;
    }
    .video-js .vjs-tech {
      width: 100%;
      @include grid-media-query(palm) {
        width: 100%;
      }
    }
  }

  .gabarit.gabarit-3-0 {
    right: auto;

    @include homeDecalToLeft();

    @include grid-media-query(palm) {
      .big {
        float: none;
      }
    }
  }
  .gabarit.gabarit-3-1 {
    left: auto;
    padding-bottom: 3vw;
    @include grid-media-query(palm) {
      padding-bottom: 0;
    }
    .js-center-height {
      right: 5%;
      @include grid-media-query(palm) {
        right: auto;
      }
    }
    .big {
      position: relative;
      left: 22%;
      @include grid-media-query(palm) {
        left: auto;
      }
    }
    .image-small {
      // left: 68vw;
      left: auto;
      right: 0;
      bottom: 0%;
      img, video {
        // transform: translate(-44%, 0%);
        transform: translate(0%, 0%);
      }
    }
  }
  .gabarit.gabarit-4-0 {
    right: auto;
    @include homeDecalToLeft();

    .js-center-height {
      padding-bottom: 3vw;
      @include grid-media-query(palm) {
        padding-bottom: 0;
      }
    }

    .image-big {
      width: 55vw;
      @include grid-media-query(palm) {
        width: 100%;
      }
    }
    .small {
      right: 55vw;
      bottom: 0;
      transform: translate(50%, 0%);
    }
  }
  .gabarit.gabarit-4-1 {
    left: auto;
    @include homeDecalToLeft();
    .js-center-height {
      padding-bottom: 0vw;
    }
    &.quarter .all {
      padding-right: 4%;
      @include grid-media-query(palm) {
        padding-right: 0;
      }
    }
    .all {
      position: relative;
      float: right;
      right: 9%;
      padding-bottom: 3vw;
      @include grid-media-query(palm) {
        top: 0;
        right: auto;
        padding-bottom: 0;
      }
    }
    .image-big {
      width: 55vw;
      @include grid-media-query(palm) {
        width: 100%;
      }
    }
    .image-small {
      left: 55vw;
      bottom: 0;
      img, video {
        transform: translate(-50%, 0%);
      }
    }
    &.quarter {
      .image-small {
        img, video {
          transform: translate(-25%, 0%);
        }
      }
    }
  }
  .gabarit.gabarit-5-2 {
    .left, .center {
      margin: 0 0 0 auto;
    }
    .image-big {
      width: 89.4%;
      @include grid-media-query(palm) {
        width: 100%;
      }
    }
  }
  .gabarit.gabarit-6 {
    @include homeDecalToLeft();

    .js-center-height {
      right: auto;
    }
    .center {
      //text-align: right;

      @include grid-media-query(palm) {
        text-align: center;
        position: relative;
      }
    }
    &-0 {
      .big {
        width: 44.9vw;
        @include grid-media-query(palm) {
          position: absolute;
          top: 0;
          left: 2.5vw;
          transform: translate(0, 14%);
          width: 59vw;
        }
      }
      .small .image-small {
        width: 31.5vw;
        @include grid-media-query(palm) {
          width: 41vw;
          float: right;
          margin-right: 2.5vw;
        }
      }
    }

    &-1 {
      .big {
        // width: 44.9vw;
        @include grid-media-query(palm) {
          position: absolute;
          top: 0;
          transform: translate(0%, 11.8%);
          width: 44.5vw;
          left: 3vw;
          // float: left;
        }
      }
      .small .image-small {
        // width: 31.5vw;
        @include grid-media-query(palm) {
          width: 55vw;
          // float: right;
          margin-right: 3vw;
        }
      }
    }
    &-2 {
      .center {
        @include grid-media-query(palm) {
          text-align: left;
        }
      }
    }
  }

  .gabarit.gabarit-7 {
    @include homeDecalToLeft();
    .center {
      text-align: right;
    }
  }
  .gabarit.gabarit-7-1 .big {
    width: 63vw !important;
    @include grid-media-query(palm) {
      width: 100%;
    }
  }
  .gabarit.gabarit-8 .big .image-big {
    text-align: right;
    &-left {
      width: 58.9%;
      @include grid-media-query(palm) {
        width: 70%;
      }
    }
    &-right {
      width: 26%;
      @include grid-media-query(palm) {
        width: 30%;
      }
    }
  }
  .gabarit.gabarit-9 {
    @include homeDecalToLeft();
    padding-top: 0;
    .center {
      margin: 0 0 0 auto;
      width: 72%;
      @include grid-media-query(palm) {
        margin: 0 auto;
        width: 100%;
      }
    }
  }
  .gabarit.gabarit-9-1 .center {
    width: 70%;
    @include grid-media-query(palm) {
      width: 100%;
    }
    .column-center .bottom {
      @include grid-media-query(palm) {
        display: none;
      }
    }
  }

  .border {
    padding: 0 90px;
    margin-bottom: 90px;

    @include grid-media-query(palm) {
      padding: 0;
    }
  }

  .cover {
    width: 100%;
    height: 84vh; // if calc does not work
    height: calc(100vh - 180px);

    @include grid-media-query(palm) {
      display: none;
      background-image: none !important;
    }

  }

  .swiper-container {
    @include grid-media-query(palm) {
      height: calc(100vh - 60px);
    }
  }

  .swiper-slide {
    // align-self: center;

    // .center-flex {
    //     align-self: center;
    // }
    width: 100%;
  }

  .swiper-custom-arrows {
    position: fixed;
    right: 80px;
    bottom: 10px;
    z-index: 10;

    .swiper-button-prev {
      padding: 10px 0 10px 10px;
    }

    .swiper-button-next {
      padding: 10px 10px 10px 0;
    }

    img {
      width: 25px;
      height: 25px;
    }

    @include grid-media-query(palm) {
      right: 30px;
    }
  }

  .gabarit.gabarit-2-0, .gabarit.gabarit-2-1 {
    .video-container {
      margin: 0 9% 0 auto !important;
    }
  }

  .gabarit.gabarit-1 {
    .video-container {
      margin: 0 auto !important;
    }
  }

  .gabarit.gabarit-3 {
    .js-center-height {
      right: 5%;
      margin: 0 10% 0 auto !important;
    }

    /*.image-big-right{
      img{
        width: calc(100% + 2px);
        margin-left: -1px;
      }
    }*/

    //margin-left: auto !important;
    //margin-right: auto;
  }

  .gabarit.gabarit-3-0 {
    .js-center-height {
      right: auto;
      //margin:  0 auto!important;
    }
    //margin-left: auto !important;
    //margin-right: auto;
  }

  .gabarit.gabarit-9-1 {
    .js-center-height {
      transform-origin: top center !important;
      //margin:  0 auto!important;
    }
    //margin-left: auto !important;
    //margin-right: auto;
  }

  .gabarit.gabarit-6 {
    .js-center-height {
      margin: 0 auto !important;
    }
    //margin-left: auto !important;
    //margin-right: auto;
  }

  .gabarit.gabarit-4 {
    .js-center-height {
      right: auto;
      margin: 0 14% 0 auto !important;
    }
  }

  /*  .gabarit-3-0,.gabarit-3-1 {
      .image-big-left {
        //overflow: auto;
      }
    }*/
  .gabarit-3-0, .gabarit-3-1 {
    .image-big-left {
      //overflow: hidden;
      img {
        //width: calc(100% + 1px)!important;
      }
    }
  }

  @media only screen and (min-width: 769px) and (max-width: 1700px) {
    .swiper-container {
      overflow: inherit;
    }
  }
}
