/************************************************
    DROPDOWN in Artist page and Creation page, only on Mobile

    Nav bar : https://www.eventbrite.com/engineering/mobile-safari-why/
***/
.dropdown {        
    
    display: none;
    @include grid-media-query(palm) {
        display: block;
        z-index: 10;
        position: fixed;
        top:60px;
        right: 0;
        bottom: calc(100vh - 120px);
        left: 0;
        height: 60px;
        background-color: #ffffff;
        overflow: hidden;
        transition: bottom 1s, height 1s;

        &.show {
            height: calc(100vh - 60px);
            bottom: 0;

            .dropdown-label {
                background: url("data:image/svg+xml;utf8,<svg version='1.1' id='Layer_2_copy2' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='25px' height='25px' viewBox='0 0 25 25' enable-background='new 0 0 25 25' xml:space='preserve'><rect fill='none' width='25' height='25'/><polygon fill='#E5E5E5' points='5.207,15.26 6.947,17 12.666,11.281 18.385,17 20.125,15.26 12.666,7.801 '/></svg>") no-repeat;
                background-size: 25px;
                background-position: calc(100% - 25px) center;
                background-repeat: no-repeat;
            }

            .dropdown-list {
                height: 100%;
                // height: 100vh;

                .menu-filter {
                    // position: absolute;
                    transition: bottom 0.6s;
                    bottom: 0;
                }
            }
        }

        .dropdown-label {
            cursor: pointer;
            display: block;
            height: 60px;
            background-color:#ffffff; 
            line-height: 60px;
            padding-left: 30px;
            font-size: 4vw;
            font-family: $fontMarkMedium;
            letter-spacing: -0.015em;
            border-top: 1px solid #cdcdcc;
            border-bottom: 1px solid #cdcdcc;
            position: relative;

            /* Arrow */
            appearance: none;
            /* SVG background image */
            background: url("data:image/svg+xml;utf8,<svg version='1.1' id='Layer_2_copy' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='25px' height='25px' viewBox='0 0 25 25' enable-background='new 0 0 25 25' xml:space='preserve'><rect fill='none' width='25' height='25'/><polygon fill='#E5E5E5' points='20.125,10.541 18.385,8.801 12.666,14.52 6.947,8.801 5.207,10.541 12.666,18 '/></svg>") no-repeat;
            background-size: 25px;
            background-position: calc(100% - 25px) center;
            background-repeat: no-repeat;
        }

        .dropdown-list {                
            height: 0;
            transition: height 1s;
            // display: none;
            // opacity: 0;
            .menu-artist {
                position: relative;
                top:25px;
                height: calc(100vh - 200px);
                overflow-y: auto;
            }
    
            .menu-filter {
                position: absolute;
                bottom: -60px;
                transition: bottom 0.5s 0.2s;
            }
        }

    }
}
/***
    END - DROPDOWN in artist page and creation page
*****************************************************/


.template-artist-list {

    padding: 0 90px;
    @include grid-media-query(palm) {
        padding: 0;
    }

    .menu-artist {
        position: absolute;
        width: 33%;
        top: 17.2vh;
        z-index: 3;
        // background-color: #DDD;
        
        @include grid-media-query(palm) {
            width: 100%;            
            top: 70px;
            padding-bottom: 90px;
            –webkit-overflow-scrolling: touch; 
        }

        ul {
            list-style-type: none;
            display: inline-block;
            vertical-align: top;
            padding-right: 4%;

            @include grid-media-query(palm) {
                width: 86%;
                display: block;
                margin-left: 30px;
                li {
                    display: inline-block;
                    width: 100%;

                    &.hide {
                        display: none;
                    }

                    .template-creation & {
                        cursor: pointer;    
                        font-size: 4vw;
                        line-height: 1.4;
                        font-family: "MarkPro Medium";
                        letter-spacing: -0.015em;
                    }
                }
            }
        }

        a {
            font-family: $fontMarkMedium;
            font-size: 1.5vw;
            line-height: 1.22;
            color: #cdcdcc;
            // background: linear-gradient(to right, #cdcdcd);
            // -webkit-background-clip: text;
            // -webkit-text-fill-color: transparent;
            transition: all 0.5s;
            letter-spacing: -0.015em;
            cursor: default;

            @include grid-media-query(desk) {
                font-size: 1.25vw;
            }
            
            @include grid-media-query(palm) {
                font-size: 4vw;
                line-height: 1.4;
                // display: none;
            }
            &.active {
                color: #000000;  
                cursor: pointer;              
                
                @include grid-media-query(palm) {
                    // font-size: 5vw;
                    display: inline;
                }

                &:hover {
                    background: linear-gradient(to right, #ffa200, #f01924, #4773df);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    transition: all 1s;
                }
            }
        }
    }

    .menu-filter {
        position: absolute;
        bottom: 7vh;
        left: 50%;
        transform: translateX(-50%);
        z-index: 4;
        font-size: 0;
        
        @include grid-media-query(palm) {
            bottom: 0;
            width: 100%;
            position: fixed;
        }
        
        button, input {
            background-color: #ffffff;
            color: #000000;
            text-transform: uppercase;
            font-family: "MarkPro Medium";
            font-size: 10px;
            letter-spacing: 0.15em;
            cursor: pointer;
            padding: 5px 6px 3px;
            margin: 0 5px;
            transition: all 0.3s;
            
            @include grid-media-query(desk) {
                font-size: 11px;
            }

            @include grid-media-query(palm) {
                background-color: #f8f8f8;
                color: #717171;
                font-size: 1.7vw;
                margin: 0;
                padding: 0;
                letter-spacing: 0.2em;
                text-align: center;
                width: 25%;
                display: inline-block;
                height: 55px;
                &:hover {
                    background-color: #f8f8f8;
                    color: #717171;
                }
            }
            
            &.selected, &.highlight {
                background-color: #000000;
                color: #ffffff;
            }
        }
    }


    .content {
        transform-origin: top right;
        transform: scale(0.74);
        @include grid-media-query(palm) {
            display: none;
        }
    }

    .artist-list-cover {
        position: absolute;
        right: 0;
        opacity: 0;
        transition: opacity 0.5s;
        width: 98%;
        &.show {
            opacity: 1;
            transition: opacity 0.5s;
        }
    }

    .gabarit {        
        margin-bottom: 0;
        .title-home, .legend, .related, .title-project {
            display: none;
        }

        .vjs-control-bar{
            display: none!important;
        }
    }
    
    // Adapt Gabarit for Artist list
    .gabarit.gabarit-1 .video-container {
        margin: 0 auto;
        width: 73%;
    }
    .gabarit.gabarit-1.gabarit-1-1 {
        .video-container {
            margin: 0 auto;
        }
        .video-bg {
            right: -7%;
            width: 43.6%;
        }
    }
    .gabarit.gabarit-1-2 .video-container {
        margin: 0 5.5% 0 auto;
    }
    .gabarit.gabarit-1-3 .video-container {
        margin: 0 5.5% 0 auto;
        .video-bg {
            left: -7%;
            width: 43.6%;
        }
    }
    .gabarit.gabarit-2 .video-container {
        width: 81%;
        margin: 0 auto;
    }
    .gabarit.gabarit-3-0 {
        // right: auto;
        right: 6%;        
    }
    .gabarit.gabarit-3-1 {
        // left: auto;
        left: -3%;
        .big { position: relative; left: 17%; }
        .image-small { left: 68vw; }
    }
    .gabarit.gabarit-4-0 {
        // right: auto;
        .image-big {
            width: 60vw;
        }
        .small {
            right: 60vw;
            bottom: 0;
        }
    }
    .gabarit.gabarit-4-1 {
        left: -9%;
        .js-center-height {
            padding-bottom: 0;
        }
        .all {
            position: relative;
            float: right;
            right: 8.4%;
            padding-bottom: 3vw;
        }
        .image-big {
            width: 60vw;
        }
        .image-small {
            left: 60vw;
        }
    }
    .gabarit.gabarit-5-2 {
        .left, .center, .right {
            margin: 0 auto;
        }
        .image-big {
            width: 90%;
        }
    }
    .gabarit.gabarit-6 {
        .center {
            text-align: center;
        }
        &-0 {
            .big {
                width: 44.9vw;
            }
            .small .image-small {
                width: 31.5vw;
            }
        }
    }
    .gabarit.gabarit-7 .center {
        text-align: center;
    }
    .gabarit.gabarit-7-1 .big {
        width: 75vw;
    }
    .gabarit.gabarit-8 .big {
        margin: 0 auto;
        .image-big {
            text-align: right;
            &-left {
                width: 63.9%;
            }
            &-right {
                width: 31%;
            }
        }
    } 
    .gabarit.gabarit-9 {
        // margin-top: 0;
        padding-top: 0;
        .center {
            margin: 0 auto;
            width: 72%;
        }
    }
    .gabarit.gabarit-9-1 .center {
        width: 70%;
    }

}