.template-aboutus {
    
    position: relative;

    .resume {
        // See also in _header.scss for the message in the intro

        text-transform: uppercase;
        padding: 40px 90px 70px 200px;
        font-family: $fontMarkMedium;
        letter-spacing: -0.01em;
        font-size: 55px;
        line-height: 1;
        position: relative;
        // letter-spacing: 1px;

        @include grid-media-query(desk) {
            font-size: 65px;
            padding: 40px 90px 130px 250px;
        }

        @include grid-media-query(palm) {
            padding: 10vh 30px 10vh 30px;
            font-size: 5.5vw;
            line-height: 1;
            // opacity: 0;
        }
        
        b {
            // font-weight: normal;
            transition: opacity 1s;
            &.hide {
                opacity: 0;
            }
        }
                


        &-over {
            position: absolute;
            top: 0;
            // font-family: $fontMarkBold;
            // letter-spacing: 0;
            // color: #ff0000;

            @include grid-media-query(palm) {
                opacity: 1;
            }

            b {
                // @keyframes FadeIn { 
                //     from { opacity: 0; }
                //     to { opacity: 1; }
                // }   
                
                // letter-spacing: 0;
                // font-weight: bold;
                background: linear-gradient(to right, #ffa200, #f01924, #4773df);     
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                opacity: 0;
                transition: opacity 1s;
                // animation: FadeIn 0.5s linear forwards;
                
                &.show {
                    opacity: 1;
                }
            }
        }
    }
   
    .social {
        bottom: $marginBottomMobile;
        padding-left: 200px;
        padding-bottom: 100px;
        right: 30px;
        // background-color: #ffff00;
        
        @include grid-media-query(desk) {
            padding-left: 250px;
        }

        @include grid-media-query(palm) {
            padding: 20px 30px 100px 30px;
        }
        
        @include grid-media-query(small-height) {
            bottom: $marginBottomSmallMobile;
        }
    }

    .office {
        padding-left: 200px;
        padding-bottom: 100px;
        padding-right: 30px;
        width: 100%;
        // background-color: #00ff00;

        @include grid-media-query(desk) {
            padding-left: 250px;
        }

        @include grid-media-query(palm) {
            padding-left: 30px;
            padding-bottom: 80px;
        }

        &-title {
            font-family: $fontMarkBold;
            font-size: 30px;
            width: 100%;
            margin-bottom: 37px;
            
            @include grid-media-query(palm) {
                font-size: 19px;
                margin-bottom: 20px;
            }

            .separator {
                margin: 0 10px;
                div {
                    display: inline-block;
                    width: 1px;
                    height: 22px;
                    background-color: #b2b2b2;
                    vertical-align: baseline;
                    
                    @include grid-media-query(palm) {
                        height: 16px;
                    }
                }
            }

        }

        .address, .phone {
            font-family: $fontMarkMedium;
            font-size: 22px;
            letter-spacing: -0.01em;
            margin-bottom: 37px;

            @include grid-media-query(palm) {
                font-size: 12px;
                margin-bottom: 20px;
            }
        }

        .links {
            font-family: $fontMarkMedium;
            font-size: 10px;
            text-transform: uppercase;
            margin-top: 45px;
            padding-bottom: 50px;
            
            @include grid-media-query(palm) {
                padding-bottom: 40px;
                margin-top: 20px;
                font-size: 7px;
            }

            img {
                vertical-align: middle;
                padding-right: 5px;
            }

            .contact {
                img {
                    width: 15px;
                    padding-bottom: 3px;
                }
            }

            .map {
                img {
                    width: 16px;
                    padding-bottom: 3px;
                }
            }

            .separator {
                margin: 0 10px;
                div {
                    display: inline-block;
                    width: 1px;
                    height: 14px;
                    background-color: #d9d9d9;
                    vertical-align: top;
                    
                    @include grid-media-query(palm) {
                        height: 13px;
                    }
                }
            }
        }

        .left {
            padding-right: 20px;
        }
        
        .person {
            padding-bottom: 36px;
            
            @include grid-media-query(palm) {
                padding-bottom: 20px;
            }

            .title {
                font-family: $fontMarkBold;
                font-size: 18px;
                text-transform: uppercase;
                
                @include grid-media-query(palm) {
                    font-size: 11px;
                }
            }
            .name, .email {
                font-family: $fontMarkMedium;
                font-size: 15px;
                letter-spacing: -0.01em;
                
                @include grid-media-query(palm) {
                    font-size: 10px;
                }
            }
        }

        .col {
            display: inline-block;
            vertical-align: top;
            
            // @media only screen and (max-width: 1200px) {
            //     width: 100%;      
            // }
            
            &-1 {
                min-width: 350px;
                margin-right: 10%;               
                
                @media only screen and (max-width: 1200px) {
                    width: 100%;      
                }
            }

            &-2 {
                width: 49%;                
                
                @media only screen and (max-width: 1200px) {
                    width: 100%;      
                }

                .left, .right {
                    width: 49%;
                    display: inline-block;
                    vertical-align: top;
                }
            }
        }
    }

    .instagram {
        // width: 100%;
        // height: 320px;
        // background-color: #e9e9e9;
        // padding: 20px 0px;
        display: inline-block;
        font-size: 0;
        white-space: nowrap;
        text-align: center;
        margin: 0 auto;

        a {
            // margin: 0 0 0 2%;
            display: inline-block;
            // vertical-align: middle;
            // width: 10%;

            // &:nth-child(10) {                    
            //     margin-right: 2%;
            // }
            @media only screen and (max-width: 1200px) {
                // width: 12.5%;
                // &:nth-child(8){                    
                //     margin-right:2%; 
                // }
                // &:nth-child(9) , &:nth-child(10) {                    
                //     display: none;
                // }
            }
            
            img {
                width: auto;
                height: 10vw;
            }
        }
    }
}