.template-artist-details {
    @include grid-media-query(palm) {
        overflow-x: hidden;
    }
    @include grid-media-query(palm) {
        // padding-top: 10vw;
    }

    .border {
        padding: 0 90px;
        margin-bottom: 9.5vw;
        overflow: hidden;

        @include grid-media-query(palm) {
            padding: 60px 0 0 0;
            margin-bottom: 0;
        }
    }

    .cover {

        @include grid-media-query(palm) {
            display: none;
            background-image: none !important;
        }

        width: 100%;
        height: 91vh; // if calc does not work
        height: calc(100vh - 90px);
        background-repeat: no-repeat;      
        background-size: cover;  
        background-position: center;
        position: relative;
        color: #ffffff;
        text-transform: uppercase;
        font-family: $fontMarkBold;

        &-title {
            font-size: 70px;
            position: absolute;
            transform: translate(-50%, -50%);
            top: 50%;
            left: 50%;
            width: 90%;
            text-align: center;
            line-height: 1;
            margin: 0;

            @include grid-media-query(desk) {
                font-size: 95px;                
            }
        }

        &-scroll {
            font-size: 10px;
            position: absolute;
            transform: translateX(-50%);
            left: 50%;
            bottom: 70px;
        }

        &-line {
            width: 1px;
            height: 56px;
            background-color: #ffffff;
            position: absolute;
            bottom: 0;
            left: 50%;
        }
    }

    .infos {
        background-color: #000000; 
        position: relative;
        margin-top: 8.9vw;
        padding: 0px 90px 80px 0;
        
        @include grid-media-query(palm) {
            padding: 0px 50px 60px 50px;
            margin-top: 28vw;
        }
        
        &-photo {
            position: relative;
            top: -30px;
            margin: 0px 9%;
            display: inline-block;
            vertical-align: top;
            width:  30%;

            @include grid-media-query(desk) {
                width:  20%;
            }

            @include grid-media-query(palm) {
                display: block;
                top: -40px;
                width:  100%;
                margin: 0;
            }
        }

        &-description {
            position: relative;
            display: inline-block;
            width: 45%;
            margin-top: 8%;
            
            @include grid-media-query(palm) {
                width:  100%;
                margin-top: 20px;
            }

            &-title {
                color: #ffffff;
                font-family: $fontMarkMedium;
                font-size: 30px;
                margin-bottom: 20px;
                
                @include grid-media-query(palm) {
                    font-size: 20px;
                }
            }
            &-resume {
                color: #a2a2a2;
                font-family: $fontMarkLight;
                font-size: 13px;
                line-height: 1.8;
                letter-spacing: -0.001em;
                
                @include grid-media-query(palm) {
                    font-size: 11px;
                    line-height: 1.5;
                }
            }
            &-projects {
                margin-top: 8%;
                margin-bottom: 8%;
                
                @include grid-media-query(palm) {
                    margin-top: 60px;
                    margin-bottom: 60px;
                }

                .left, .center, .right {
                    display: inline-block;
                    vertical-align: top;
                    width: 32.5%;
                    
                    @include grid-media-query(palm) {
                        width:  auto;
                        max-width: 32.5%;
                    }
                }
                .left {
                    margin-bottom: 28px;
                }
                .center {
                    padding-right: 3%;
                    padding-left: 3%;
                }

                .title {
                    color: #ffffff;
                    font-family: $fontMarkMedium;
                    font-size: 20px;
                    margin-bottom: 10px;

                    @include grid-media-query(palm) {
                        font-size: 11px;
                        
                        .tablet & {
                            font-size: 16px;
                        }      
                    }
                }

                .links {                  
                    list-style-type: none;

                    li {
                        padding: 3px 0px;
                        color: #ffffff;
                        font-size: 13px;
                        
                        @include grid-media-query(palm) {
                            padding: 0px;
                            font-size: 10px;
                            .tablet & {
                                font-size: 12px;
                            }      
                        }

                        a {
                            color: #ffffff;
                            font-size: 13px;
                            
                            @include grid-media-query(palm) {
                                font-size: 10px;
                            }
                        }
                    }
                }
            }
        }
    }
}