.template-playlist {

    .playlist-top {

        text-align: center;
        margin-bottom: 6vw;

        &-title {
            font-family: $fontMarkHeavy;
            font-size: 20px;
            text-align: center;
        }
    
        &-playlist-name {
            font-family: $fontMarkHeavy;
            font-size: 6vw;
            text-align: center;
            margin: 0 auto;
        }

        &-menu {

            font-family: $fontMarkMedium;
            font-size: 10px;
            margin-top: 15px;
            
            &-share {
                display: inline;
                position: relative;

                &-open {
                    display: inline;
                    cursor: pointer;

                    &.hide {
                        display: none;
                    }

                    > * {
                        vertical-align: text-bottom;
                    }

                    img {
                        width: 8px;
                        vertical-align: top;
                        margin-top: 4px;
                        margin-right: 10px;
                    }
                }

                &-link {
                    display: none;

                    &.show {
                        display: inline;
                    }

                    > * {
                        vertical-align: text-bottom;
                    }

                    img {
                        width: 15px;
                        margin-right: 5px;
                    }
                    input {
                        font-family: $fontMarkMedium;
                        font-size: 13px;
                        color: #aaaaaa;
                        margin-left: 10px;
                        vertical-align: bottom;
                        width: 133px;
                    }
                }
            }

            .separator {
                display: inline-block;
                border-left: 1px solid #cccccc;
                padding-left: 10px;
                margin-left: 10px;
                height: 15px;
                vertical-align: text-bottom;
            }

            &-trash {
                display: inline;
                cursor: pointer;

                > * {
                    vertical-align: text-bottom;
                }

                img {
                    width: 16px;
                    margin-right: 6px;
                }
            }
        }

    }

    .title-artist {
        font-family: $fontMarkBold;        
        font-size: 3vw;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 4vw;
        margin-top: 9vw;
    }
    
    .title-home-artist {
        display: none;
    }

    .title-home-project {
        display: none;
    }

}