.template-legals {

    padding: 0 90px;
    letter-spacing: -0.01em;

    @include grid-media-query(palm) {
        padding: 0 30px;
    }

    .title {
        font-size: 120px;
        font-family: $fontMarkHeavy;
        text-align: center;
        margin-bottom: 50px;
        text-transform: uppercase;

        @include grid-media-query(palm) {
            font-size: 80px;
        }
    }

    h3, h4 {
        font-family: $fontMarkBold;
        margin-bottom: 5px;
    }
    
    h3 {
        font-size: 30px;        
    }
    
    h4 {
        font-size: 18px;        
    }

    p {
        font-size: 13px;
    }
}