.error404 {
    .menu-desktop, .menu-mobile {
        display: none;
    }

    #logo .black {
        display: none;
    }

    #logo .white {
        display: block;
        opacity: 1;
    }
}

.template-404 {
    background-color: #000000;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    font-family: $fontMarkMedium;

    .center {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        color: #ffffff;
        text-align: center;

        .title {
            font-size: 15px;
            margin-bottom: 10px;
        }

        .resume {
            font-size: 55px;
            line-height: 1;
            margin-bottom: 50px;
            @include grid-media-query(palm) {
                font-size: 30px;
            }
        }
    }

    a.button {
        color: #ffffff;
        font-size: 13px;
        // text-decoration: underline;        

        &::after {
            position: relative;
            content: '';
            display: block;
            width: 100%;
            height: 1px;
            background: #fff;
            transition: width .3s;
            transform: translateX(-100%);
            left: 100%;
        }
        
        // &:hover::after {
        //     width: 0;
        //     //transition: width .3s;
        // }
    }
} 