@font-face{
    font-family:"MarkPro";
    src:url("../fonts/FontFont_FF.Mark.Pro.woff") format("woff"),
    url("../fonts/FontFont_FF.Mark.Pro.ttf") format("truetype");
}

@font-face{
    font-family:"MarkPro Light";
    src:url("../fonts/FontFont_FF.Mark.Pro.Light.woff") format("woff"),
    url("../fonts/FontFont_FF.Mark.Pro.Light.ttf") format("truetype");
}

@font-face{
  font-family:"MarkPro Medium";
  src:url("../fonts/FontFont_FF.Mark.Pro.Medium.woff") format("woff"),
  url("../fonts/FontFont_FF.Mark.Pro.Medium.ttf") format("truetype");
}

@font-face{
  font-family:"MarkPro Bold";
  src:url("../fonts/FontFont_FF.Mark.Pro.Bold.woff") format("woff"),
  url("../fonts/FontFont_FF.Mark.Pro.Bold.ttf") format("truetype");
}

@font-face{
  font-family:"MarkPro Heavy";
  src:url("../fonts/FontFont_FF.Mark.Pro.Heavy.woff") format("woff"),
  url("../fonts/FontFont_FF.Mark.Pro.Heavy.ttf") format("truetype");
}

$fontMark : "MarkPro";
$fontMarkLight : "MarkPro Light";
$fontMarkMedium : "MarkPro Medium";
$fontMarkBold : "MarkPro Bold";
$fontMarkHeavy : "MarkPro Heavy";
