$menu-color: #000000;



/* Margins & Paddings */
$marginLeftDesktop: 90px;
$marginLeftMobile: 30px;

$marginBottomMobile: 70px;
$marginBottomSmallMobile: 55px;

$menuHeightDesktop: 90px;
$menuHeightMobile: 60px;
