@import 'imports/vendors/swiper.scss';
@import 'imports/vendors/videojs.scss';
@import 'imports/global/_variables.scss';
@import 'imports/global/_mixins.scss';
@import 'imports/global/_text.scss';
@import 'imports/global/_socials.scss';
@import 'imports/global/_header.scss';
@import 'imports/global/_footer.scss';
@import 'imports/global/_cookie-consent.scss';
@import 'imports/global/_lazy-loading.scss';
@import 'imports/global/_gabarits.scss';
@import 'imports/global/_template-aboutus.scss';
@import 'imports/global/_template-artist-list.scss';
@import 'imports/global/_template-artist-details.scss';
@import 'imports/global/_template-homepage.scss';
@import 'imports/global/_template-creation.scss';
@import 'imports/global/_template-playlist.scss';
@import 'imports/global/_template-playlist-shared.scss';
@import 'imports/global/_template-legals.scss';
@import 'imports/global/_template-404.scss';
@import 'imports/global/_legend.scss';
@import 'imports/ui/_buttons.scss';
@import 'imports/ui/_slider.scss';
@import 'imports/ui/_video.scss';


@viewport{
    zoom: 1.0;
    // width: device-width;
}

body {
    background: white;
    padding: 0;
    margin: 0;
    font-family: $fontMark;
    width: 100%;
    max-width: 100%;
    min-height: 100%;
    letter-spacing: 0.044em;
    overflow-x: hidden;
    position: relative;

    &.page-template-artist-list {
        overflow-y: hidden; 
        position: initial;
        @include grid-media-query(palm) {
            overflow-y: auto;
        }
    }
}

*, *:before, *:after {
    box-sizing: border-box;
}

ul, li {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #2b1111;
}

input, button, * { 
    border:none;
    &:focus {
        outline: none;
    }
} 

input[type=submit] {
    -webkit-appearance: none;
    -webkit-border-radius:0; 
    border-radius:0;
}

svg:focus {
    outline: none;
}


img {
    width: 100%;
}

.site-content {
    // overflow-x: hidden;
    padding: $menuHeightDesktop 0 0;
    @include grid-media-query(palm) {
        padding: $menuHeightMobile 0 0 0;

    }
}

.mobile, .tablet.ios {
    #page {
        min-width: 240px; 
        max-width: 100%;
        position: relative;
        overflow-x: hidden;
        // overflow-y: hidden;
    }
    
    &.page-template-artist-list  { 
        #page {
            overflow-x: initial;
        }
    }
}

.no-scroll {
    overflow-y: hidden;
}

.clearfix::after {
    content: "";
    // height: 0;
    display: block;
    // visibility: hidden;
    clear: both;
}